{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/gitlab",
            {
                "gitlabUrl": "https://gitlab.com/dd3tech/dd360/dd360-components"
            }
        ]
    ]
}
