{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/github",
            {
                "githubUrl": "https://github.com/dd3tech/dd360-components"
            }
        ],
        "@semantic-release/npm",
        "@semantic-release/git"
    ]
}
