 @tailwind base;
@tailwind components;
@tailwind utilities;
 @tailwind variants;

body {
  background-color: var(--backgroundTheme);
  color: var(--textColor);
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}
