@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--backgroundTheme);
  color: var(--textColor);
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

/*File viewer library styles */
#msdoc-iframe, #msdoc-renderer, #proxy-renderer {
  height: 100%;
}

#pdf-download {
  display: none;
}